<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>攻略首页</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/lib/cityselect/cityselect.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/travel.css}"/>
    <link rel="stylesheet" th:href="@{/css/strategy.css}"/>
    <script th:src="@{/lib/jquery-2.1.4.min.js}" type="text/javascript"></script>
    <script th:src="@{/lib/cityselect/cityselect.js}" type="text/javascript"></script>
    <script th:src="@{/lib/echarts/echarts.min.js}"></script>
    <script th:src="@{/lib/echarts/shine.js}"></script>
    <script th:src="@{/lib/echarts/china.js}"></script>
        <script type="text/javascript">
            $(function () {
                var mm=$("#mm").html();
                for (var i=0;i<mouthAll.size();i++){
                    if(mm==(i+1)){
                        $("#i"+mm).addClass("active");
                        alert("#i"+mm);
                    }
                }
                var nn=$("#nn").html();
                for (var j=1;j<=4;j++){
                    if(nn==j){
                        $("#j"+j).addClass("active");
                    }
                }
            })

            function byMouth(mouthId) {
                if(!$(".tabs-header li").hasClass("active")){
                    $("li",$(this).closest("ul")).removeClass("active");
                    $(this).addClass("active");
                }
                /* thymeleaf  异步刷新 */
                $('#ByMouth').load("seachByMouth?mouthId="+mouthId);
            }

            function byType(stId) {
                if(!$(" .tabs-header li").hasClass("active")){
                    $("li",$(this).closest("ul")).removeClass("active");
                    $(this).addClass("active");
                }
                /* thymeleaf  异步刷新 */
                $('#ByType').load("seachByType?stId="+stId);
            }
    </script>
</head>
<body>
<!-- 头部开始 -->
<div class="i-top clearfix">
    <div class="i-top-wrap">
        <div class="i-logo fl">
            <a href="#" title="i旅行">i旅行</a>
        </div>
        <div class="i-hotline fr">
            <ul>
                <li><a href="#">客服中心</a></li>
                <li>|</li>
                <li><a href="#">24小时热线：400-855-6666</a></li>
                <li class="i-top-phone">
                    <a href="#"><i class="icon-mobile-phone"></i></a>
                    <div class="i-top-app i-top-appL">
                        <img th:src="@{/images/img/erweima_1126.jpg}" height="102" width="102" alt="">
                        <p>手机扫码快速下载</p>
                        <p>App享受最多50% 优惠力度</p>
                    </div>
                </li>
                <li class="i-top-phone i-top-wei">
                    <a href="#"><i class="icon-comments"></i></a>
                    <div class="i-top-app i-top-app-wei">
                        <img th:src="@{/images/img/erweima_1126.jpg}" height="102" width="102" alt="">
                        <p>i旅行微信公众号: <a href="#">ilvxing</a></p>
                        <p>手机扫一扫，享受专属福利</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 头部结束 -->

<!-- nav开始 -->
<div class="i-nav clearfix">
    <div class="i-nav-wrap">
        <ul>
            <li><a href="indexHtml" ><i class="icon-home"></i>首页</a></li>
            <li><a href="travel/index.html"><i class="icon-globe"></i>旅游</a></li>
            <li><a href="tavern/index.html"><i class="icon-hospital"></i>酒店</a></li>
            <li><a href="flyTicket.html"><i class="icon-plane"></i>机票</a></li>
            <!-- <li><a href="#"><i class="icon-credit-card"></i>门票</a></li> -->
            <li class="current"><a href="strategyHtml"><i class="icon-book"></i>攻略</a></li>
        </ul>
        <div class="i-nav-login">
            <span th:if="*{session.User==null}"><a href="loginHtml">登录</a></span>
           <!-- <span th:if="*{session.User!=null}" style="font-size: 18px;">用户名:<span th:text="${session.User.usercode}" style="font-size:18px;"></span>&nbsp;<a th:href="@{/exitlogin}">退出登录</a></span>
         -->   <span>|</span>
            <a href="registerHtml">注册</a>
        </div>
    </div>
</div>
<!-- nav结束 -->
<div class="travel strategy">
    <div class="travel-head">
        <div class="travel-head-left">
            <div class="head-list-menu">
                <div class="border-hover">
                    <div class="menu-theme">主题旅游</div>
                    <div class="menu-sub">
                        <a>爸妈游</a>
                        <a>上海迪士尼</a>
                        <a>蜜月游</a>
                    </div>
                    <span>&gt;</span>
                    <div class="list-menu-border"></div>
                    <div class="menu-more">
                        <div class="menu-list">
                            <div class="menu-theme">周边旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <div class="menu-theme">国内旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <div class="menu-theme">国外旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="head-list-menu">
                <div class="border-hover">
                    <div class="menu-theme">热门旅游</div>
                    <div class="menu-sub">
                        <a>爸妈游</a>
                        <a>上海迪士尼</a>
                        <a>蜜月游</a>
                    </div>
                    <span>&gt;</span>
                    <div class="list-menu-border"></div>
                    <div class="menu-more">
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="head-list-menu">
                <div class="border-hover">
                    <div class="menu-theme">主题公园</div>
                    <div class="menu-sub">
                        <a>爸妈游</a>
                        <a>上海迪士尼</a>
                        <a>蜜月游</a>
                    </div>
                    <span>&gt;</span>
                    <div class="list-menu-border"></div>
                    <div class="menu-more">
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="head-list-menu">
                <div class="border-hover">
                    <div class="menu-theme">周边旅游</div>
                    <div class="menu-sub">
                        <a>爸妈游</a>
                        <a>上海迪士尼</a>
                        <a>蜜月游</a>
                    </div>
                    <span>&gt;</span>
                    <div class="list-menu-border"></div>
                    <div class="menu-more">
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>
                        <div class="menu-list">
                            <div class="menu-theme">主题旅游</div>
                            <div class="menu-sub">
                                <a>爸妈游</a>
                                <a>上海迪士尼</a>
                                <a>蜜月游</a>
                                <a>徒步</a>
                                <a>越野自驾</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="travel-head-right strategy-center">
            <div class="travel-search">
                <div class="search">
                    <input type="text" placeholder="景点\地区\关键词...">
                    <button class="icon-search"></button>
                </div>
                <div class="travel-search-list none-style" style="display: inline-block;float: right;margin-right:-20px;">
                    <div class="btn btn-default" type="text">
                        <i class="icon-map-marker"></i>
                        <input type="text" readonly id="travelCitySelect1" value="北京市"><i
                            class="icon-angle-down"></i></div>
                </div>
            </div>
          <div>
              <div class="banner ">
                  <div class="banner-border">
                      <div>
                          <ul class="banner_list">
                              <li class="act banner-li1"><a href="#"></a></li>
                              <li class="banner-li2"><a href="#"></a></li>
                              <li class="banner-li3"><a href="#"></a></li>
                              <li class="banner-li4"><a href="#"></a></li>
                          </ul>
                      </div>
                      <ol class="lb">
                          <li class="li_1 cur"></li>
                          <li></li>
                          <li></li>
                          <li></li>
                      </ol>
                  </div>
              </div>
              <div class="strategy-right">
                  <img th:src="@{/images/img/strategy/strategy-00.png}" alt="">
                  <br>
                  <img th:src="@{/images/img/strategy/strategy-01.png}" alt="">
              </div>
          </div>
        </div>

    </div>
    <div class="travel-body">
        <div class="strategy-map">
            <div id="linkForChina" style="width:740px;height: 600px;"></div>
            <div class="localtion-mes">
                <strong>青 海</strong>
                <br>
                预计游玩人数： 1.6w人次/天   拥堵 <br>
                建议游玩：4-10天
                <br>
                <br>
                茶卡盐湖   可可西里   孟达天池   互助北山   金银滩
                <br>
                <br>
                年保玉则   同仁   三江源
                <br>
                <br>
                <p>
                    青海省为我国青藏高原上的重要省份之一，因境内有全国最大的内陆咸水湖──青海湖，而得省名。
                </p>
                <br>
                <br>
                <p>
                    青海湖是中国最大的内陆咸水湖，面积4573平方公里，湖面高出海平面3,260米，是泰山顶峰的2倍。
                </p>
                <br>
                <br>
                <p>
                    最佳季节：5月-10月适宜。青海是高原大陆性气候，春秋两季有沙尘污染，形成扬尘天气。7月的青海湖边有大片油菜花，黄色的花海和一望无际的蓝色湖水，景色美不胜收，那时的气温不超过18摄氏度，气候舒适宜人。
                </p>
            </div>
        </div>
        <div class="strategy-list">
            <div class="strategy-list-header">
                <div>
                    月度推荐 <span> ● </span><span>开启滑雪之旅，这个冬天不太冷</span>
                </div>
                <img th:src="@{/images/img/strategy/strategy-02.png}" alt="">
            </div>
            <div class="strategy-list-body">
                <div class="strategy-tabs" th:fragment="ByMouth" id="ByMouth">
                    <span th:text="${mouthId}" id="mm" style="display: none"></span>
                    <ul  class="tabs-header" th:each="mou,status:${mouthAll}" style="display: inline-block;width:80px;">
                        <a href="javascript:void(0);" th:onclick="'javascript:byMouth('+${mou.mouthId}+')'"><li id="i${status.index}"><span th:text="${mou.mouthName}"></span> <span class="icon-tra"></span><span>●</span></li></a>
                    </ul>
                    <div class="tabs-body" th:each="entries:${allByMouth}" style="display: inline-block">
                        <a href="#"><img th:src="@{${entries.cityPictures}}" alt=""><div th:text="${entries.cityName}"></div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="strategy-list">
            <div class="strategy-list-header">
                <div>
                    热门目的地 <span> ● </span><span>走过多少地方 最美的还是这里</span>
                </div>
                <img th:src="@{/images/img/strategy/strategy-03.png}" alt="">
            </div>
            <div class="strategy-list-body localtion">
                <div class="strategy-tabs" id="ByType" th:fragment="ByType">
                    <span th:text="${typeId}" id="nn" style="display: none"></span>
                    <div>
                    <ul  class="tabs-header" th:each="type,start:${typeAll}" style="display: inline-block;">
                        <a href="javascript:void(0);" th:onclick="'javascript:byType('+${type.stId}+')'"><li id="j${start.count}"><span th:text="${type.stName}"></span></li></a>
                    </ul>
                    </div>
                    <div class="tabs-body" th:each="tu:${allByType}" style="display: inline-block;">
                        <a href="#"><img th:src="@{${tu.cityPictures}}" alt=""><div th:text="${tu.cityName}"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="i_download">
    <div class="i_area clearfix">
        <div class="i_downleft">
            <h2>下载<i></i>手机客户端</h2>
            <p>
                特价机票、一折酒店、出行安全保障、预约担保<br/>
                最佳旅行路线、吃喝玩乐享在手

            </p>
            <a href="#">立刻下载</a>
        </div>
        <div class="i_downright">
            <div class='i_wechat'>
                <img th:src="@{/images/icon/i_wechat_11.jpg}" alt="">
                <span>微信公众平台</span>
            </div>
            <div class="i_APP">
                <img th:src="@{/images/icon/i_APP_11.jpg}" alt="">
                <span>APP下载</span>
            </div>
        </div>
    </div>
</div>
<div class="i-footer clearfix">
    <div class="i-footer-wrap">
        <p>Copyright©1999-2016, ctrip.com. All rights reserved. | <a href="#">ICP证：沪B2</a></p>
        <p><span class="i-footer-hui"></span>沪公网备310105020000xx号</p>
        <p>旅游违法行为举报电话12318 丨服务质量投诉电话 962020 丨<a href="#">北京市旅游网站落实诚信建设主体责任承诺书</a></p>
        <ul>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_11.jpg}" height="32" width="88" alt=""></a></li>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_13.jpg}" height="32" width="88" alt=""></a></li>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_15.jpg}" height="32" width="88" alt=""></a></li>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_17.jpg}" height="32" width="88" alt=""></a></li>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_19.jpg}" height="32" width="88" alt=""></a></li>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_21.jpg}" height="32" width="88" alt=""></a></li>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_23.jpg}" height="32" width="88" alt=""></a></li>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_25.jpg}" height="32" width="128" alt=""></a></li>
            <li><a href="#"><img th:src="@{/images/icon/icon1126_27.jpg}" height="32" width="102" alt=""></a></li>
        </ul>
    </div>
</div>
<script th:src="@{/js/strategy_index.js}" type="text/javascript"></script>
<script>
    window.onload = function (e) {
        strategy.init();
    }
</script>
</body>
</html>