<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.HotelViewMapper">
  <resultMap id="BaseResultMap" type="com.example.model.HotelView">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="hotelName" jdbcType="VARCHAR" property="hotelname" />
    <result column="cityId" jdbcType="BIGINT" property="cityid" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgurl" />
    <result column="roomPrice" jdbcType="DECIMAL" property="roomprice" />
    <result column="countryId" jdbcType="BIGINT" property="countryid" />
  </resultMap>
  <insert id="insert" parameterType="com.example.model.HotelView">
    insert into hotel_view (id, hotelName, cityId,
      imgUrl, roomPrice,countryId)
    values (#{id,jdbcType=BIGINT}, #{hotelname,jdbcType=VARCHAR}, #{cityid,jdbcType=BIGINT}, 
      #{imgurl,jdbcType=VARCHAR}, #{roomprice,jdbcType=DECIMAL}),#{countryid,jdbcType=BIGINT}
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, hotelName, cityId, imgUrl, roomPrice,countryid
    from hotel_view
  </select>

  <select id="selectAllByChinaAndCityId" resultMap="BaseResultMap">
    select id, hotelName, cityId, imgUrl, roomPrice,countryid
    from hotel_view
    where countryid=3600
    <if test="cityId!=null and cityId!=''">
      and cityId=#{cityId,jdbcType=BIGINT}
    </if>
  </select>

  <select id="selectAllByWaiAndCityId" resultMap="BaseResultMap">
    select id, hotelName, cityId, imgUrl, roomPrice,countryid
    from hotel_view
    where countryid not in(3600)
    <if test="cityId!=null and cityId!=''">
      and cityId=#{cityId,jdbcType=BIGINT}
    </if>
  </select>
</mapper>