<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ItripAviationMapper">
    <resultMap id="BaseResultMap" type="com.example.model.ItripAviation">
        <id column="aviation_id" jdbcType="INTEGER" property="aviationId"/>
        <result column="aviation_name" jdbcType="VARCHAR" property="aviationName"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from itrip_aviation
        where aviation_id = #{aviationId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.model.ItripAviation">
        insert into itrip_aviation (aviation_id, aviation_name)
        values (#{aviationId,jdbcType=INTEGER}, #{aviationName,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.model.ItripAviation">
        update itrip_aviation
        set aviation_name = #{aviationName,jdbcType=VARCHAR}
        where aviation_id = #{aviationId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select aviation_id, aviation_name
        from itrip_aviation
        where aviation_id = #{aviationId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select aviation_id, aviation_name
        from itrip_aviation
    </select>
</mapper>