<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ItripShippingspaceMapper">
  <resultMap id="BaseResultMap" type="com.example.model.ItripShippingspace">
    <id column="shipping_id" jdbcType="INTEGER" property="shippingId" />
    <result column="shipping_name" jdbcType="VARCHAR" property="shippingName" />
    <result column="shipping_price" jdbcType="INTEGER" property="shippingPrice" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from itrip_shippingspace
    where shipping_id = #{shippingId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.model.ItripShippingspace">
    insert into itrip_shippingspace (shipping_id, shipping_name, shipping_price
      )
    values (#{shippingId,jdbcType=INTEGER}, #{shippingName,jdbcType=VARCHAR}, #{shippingPrice,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.model.ItripShippingspace">
    update itrip_shippingspace
    set shipping_name = #{shippingName,jdbcType=VARCHAR},
      shipping_price = #{shippingPrice,jdbcType=INTEGER}
    where shipping_id = #{shippingId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select shipping_id, shipping_name, shipping_price
    from itrip_shippingspace
    where shipping_id = #{shippingId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select shipping_id, shipping_name, shipping_price
    from itrip_shippingspace
  </select>
</mapper>