<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ItripOrderLinkUserMapper">
    <resultMap id="BaseResultMap" type="com.example.model.ItripOrderLinkUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderId" jdbcType="BIGINT" property="orderid"/>
        <result column="linkUserId" jdbcType="BIGINT" property="linkuserid"/>
        <result column="linkUserName" jdbcType="VARCHAR" property="linkusername"/>
        <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate"/>
        <result column="createdBy" jdbcType="BIGINT" property="createdby"/>
        <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate"/>
        <result column="modifiedBy" jdbcType="BIGINT" property="modifiedby"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from itrip_order_link_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.example.model.ItripOrderLinkUser">
        insert into itrip_order_link_user (id, orderId, linkUserId,
        linkUserName, creationDate, createdBy,
        modifyDate, modifiedBy)
        values (#{id,jdbcType=BIGINT}, #{orderid,jdbcType=BIGINT}, #{linkuserid,jdbcType=BIGINT},
        #{linkusername,jdbcType=VARCHAR}, #{creationdate,jdbcType=TIMESTAMP}, #{createdby,jdbcType=BIGINT},
        #{modifydate,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=BIGINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.model.ItripOrderLinkUser">
        update itrip_order_link_user
        set orderId = #{orderid,jdbcType=BIGINT},
        linkUserId = #{linkuserid,jdbcType=BIGINT},
        linkUserName = #{linkusername,jdbcType=VARCHAR},
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
        createdBy = #{createdby,jdbcType=BIGINT},
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
        modifiedBy = #{modifiedby,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, orderId, linkUserId, linkUserName, creationDate, createdBy, modifyDate,
        modifiedBy
        from itrip_order_link_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, orderId, linkUserId, linkUserName, creationDate, createdBy, modifyDate,
        modifiedBy
        from itrip_order_link_user
    </select>
</mapper>