<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ItripRouteMapper">
  <resultMap id="BaseResultMap" type="com.example.model.ItripRoute">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="typeid" jdbcType="BIGINT" property="typeid" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="groupsid" jdbcType="BIGINT" property="groupsid" />
    <result column="startaddress" jdbcType="BIGINT" property="startaddress" />
    <result column="endaddress" jdbcType="BIGINT" property="endaddress" />
    <result column="countryid" jdbcType="BIGINT" property="countryid" />
    <result column="Provinceid" jdbcType="BIGINT" property="provinceid" />
    <result column="cityid" jdbcType="BIGINT" property="cityid" />
    <result column="lineid" jdbcType="BIGINT" property="lineid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from itrip_route
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.ItripRoute">
    insert into itrip_route (id, name, description, 
      image, price, typeid, notice, 
      day, groupsid, startaddress, 
      endaddress, countryid, Provinceid, 
      cityid, lineid)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{typeid,jdbcType=BIGINT}, #{notice,jdbcType=VARCHAR}, 
      #{day,jdbcType=INTEGER}, #{groupsid,jdbcType=BIGINT}, #{startaddress,jdbcType=BIGINT}, 
      #{endaddress,jdbcType=BIGINT}, #{countryid,jdbcType=BIGINT}, #{provinceid,jdbcType=BIGINT}, 
      #{cityid,jdbcType=BIGINT}, #{lineid,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.model.ItripRoute">
    update itrip_route
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      typeid = #{typeid,jdbcType=BIGINT},
      notice = #{notice,jdbcType=VARCHAR},
      day = #{day,jdbcType=INTEGER},
      groupsid = #{groupsid,jdbcType=BIGINT},
      startaddress = #{startaddress,jdbcType=BIGINT},
      endaddress = #{endaddress,jdbcType=BIGINT},
      countryid = #{countryid,jdbcType=BIGINT},
      Provinceid = #{provinceid,jdbcType=BIGINT},
      cityid = #{cityid,jdbcType=BIGINT},
      lineid = #{lineid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, description, image, price, typeid, notice, day, groupsid, startaddress, 
    endaddress, countryid, Provinceid, cityid, lineid
    from itrip_route
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description, image, price, typeid, notice, day, groupsid, startaddress, 
    endaddress, countryid, Provinceid, cityid, lineid
    from itrip_route
  </select>
  <resultMap id="BaseResultMap" type="com.example.model.ItripRoute">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="typeid" jdbcType="BIGINT" property="typeid" />
    <result column="featureid" jdbcType="BIGINT" property="featureid" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="groupsid" jdbcType="BIGINT" property="groupsid" />
    <result column="startaddress" jdbcType="BIGINT" property="startaddress" />
    <result column="endaddress" jdbcType="BIGINT" property="endaddress" />
    <result column="countryid" jdbcType="BIGINT" property="countryid" />
    <result column="Provinceid" jdbcType="BIGINT" property="provinceid" />
    <result column="cityid" jdbcType="BIGINT" property="cityid" />
    <result column="guaranteeid" jdbcType="BIGINT" property="guaranteeid" />
    <result column="lineid" jdbcType="BIGINT" property="lineid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from itrip_route
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.ItripRoute">
    insert into itrip_route (id, name, description, 
      image, price, typeid, featureid, 
      notice, day, groupsid, 
      startaddress, endaddress, countryid, 
      Provinceid, cityid, guaranteeid, 
      lineid)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{typeid,jdbcType=BIGINT}, #{featureid,jdbcType=BIGINT}, 
      #{notice,jdbcType=VARCHAR}, #{day,jdbcType=INTEGER}, #{groupsid,jdbcType=BIGINT}, 
      #{startaddress,jdbcType=BIGINT}, #{endaddress,jdbcType=BIGINT}, #{countryid,jdbcType=BIGINT}, 
      #{provinceid,jdbcType=BIGINT}, #{cityid,jdbcType=BIGINT}, #{guaranteeid,jdbcType=BIGINT}, 
      #{lineid,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.model.ItripRoute">
    update itrip_route
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      typeid = #{typeid,jdbcType=BIGINT},
      featureid = #{featureid,jdbcType=BIGINT},
      notice = #{notice,jdbcType=VARCHAR},
      day = #{day,jdbcType=INTEGER},
      groupsid = #{groupsid,jdbcType=BIGINT},
      startaddress = #{startaddress,jdbcType=BIGINT},
      endaddress = #{endaddress,jdbcType=BIGINT},
      countryid = #{countryid,jdbcType=BIGINT},
      Provinceid = #{provinceid,jdbcType=BIGINT},
      cityid = #{cityid,jdbcType=BIGINT},
      guaranteeid = #{guaranteeid,jdbcType=BIGINT},
      lineid = #{lineid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, description, image, price, typeid, featureid, notice, day, groupsid, 
    startaddress, endaddress, countryid, Provinceid, cityid, guaranteeid, lineid
    from itrip_route
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description, image, price, typeid, featureid, notice, day, groupsid, 
    startaddress, endaddress, countryid, Provinceid, cityid, guaranteeid, lineid
    from itrip_route
  </select>
</mapper>