<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ItripStrategyMapper">
  <resultMap id="BaseResultMap" type="com.example.model.ItripStrategy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route_id" jdbcType="INTEGER" property="routeId" />
    <result column="strategydata" jdbcType="VARCHAR" property="strategydata" />
    <result column="strategydesc" jdbcType="VARCHAR" property="strategydesc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from itrip_strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.model.ItripStrategy">
    insert into itrip_strategy (id, route_id, strategydata, 
      strategydesc)
    values (#{id,jdbcType=INTEGER}, #{routeId,jdbcType=INTEGER}, #{strategydata,jdbcType=VARCHAR}, 
      #{strategydesc,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.model.ItripStrategy">
    update itrip_strategy
    set route_id = #{routeId,jdbcType=INTEGER},
      strategydata = #{strategydata,jdbcType=VARCHAR},
      strategydesc = #{strategydesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, route_id, strategydata, strategydesc
    from itrip_strategy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, route_id, strategydata, strategydesc
    from itrip_strategy
  </select>
</mapper>