<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ItripMouthMapper">
  <resultMap id="BaseResultMap" type="com.example.model.ItripMouth">
    <id column="mouth_id" jdbcType="INTEGER" property="mouthId" />
    <result column="mouth_name" jdbcType="VARCHAR" property="mouthName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from itrip_mouth
    where mouth_id = #{mouthId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.model.ItripMouth">
    insert into itrip_mouth (mouth_id, mouth_name)
    values (#{mouthId,jdbcType=INTEGER}, #{mouthName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.model.ItripMouth">
    update itrip_mouth
    set mouth_name = #{mouthName,jdbcType=VARCHAR}
    where mouth_id = #{mouthId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select mouth_id, mouth_name
    from itrip_mouth
    where mouth_id = #{mouthId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select mouth_id, mouth_name
    from itrip_mouth
  </select>
</mapper>